<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ENGINE-SERVER-IP" value="127.0.0.1"/>
    <add key="ENGINE-SERVER-TRADE-PORT" value="13100"/>
    <add key="ENGINE-SERVER-SPAN-PORT" value="13200"/>
    <add key="ENGINE-SERVER-HB-PORT" value="13300"/>
    <add key="DEBUG-MODE" value="false"/>
	  <add key="RULE-ALERT-INTERVAL" value="30"/>
	  <add key="POPUP-SNOOZE" value="2"/>
    <add key="VERTICAL-LINES" value="true"/>
    <add key="FULL-VAR" value="false"/>
	  <add key="DATA-FONT-SIZE" value="11"/>
	  <add key="FOOTER-FONT-SIZE" value="8"/>
	  <add key="AUTOSAVE-INTERVAL" value="1"/>
    <add key="TIME-OUT-SECONDS" value="60"/>
    <!--<add key="VAR-REVERSE-MODE" value="true" />-->
  </appSettings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
